.pagination {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination > li {
  display: inline-block;

  margin-right: 5px;
}

.pagination > li > a {
  display: inline-block;

  min-width: 20px;
  padding: 8px 5px 6px;

  transition: background 0.15s ease, color 0.15s ease;
  text-align: center;
  text-decoration: none;

  color: #666;
  border-radius: 3px;
  background: #d6d6d6;

  line-height: 1;
}

.pagination > li.active > a {
  color: #fff;
  background: #00aee6;
}

.c-break-pagination {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.c-break-pagination ul {
  padding: 0;

  list-style: none;
}

.c-break-pagination__dot {
  margin-right: 25px;

  cursor: pointer;
}

.c-break-pagination li.disabled a {
  cursor: default;

  color: #979797 !important;
}

.c-break-pagination li a {
  padding: 5px;

  color: #00aae6;

  outline: none;

  font-size: 0.9375rem;
}

.c-break-pagination li.active a {
  color: #1e1e1e;
}

.c-break-pagination__prev-btn,
.c-break-pagination__next-btn {
  margin-right: auto;

  cursor: pointer;

  text-transform: uppercase;

  font-weight: 500;
}

.c-break-pagination__next-btn {
  margin-right: 0;
  margin-left: auto;
}

@media screen and (max-width: 1279px) {
  .pagination {
    justify-content: center;
  }
}
