.main-menu-overlay {
  position: absolute;

  z-index: -1;

  top: 50px;
  left: 0;

  overflow: hidden;

  width: 100%;
  height: calc(100vh - 50px);
  max-height: 0;
}

.main-menu-overlay.active {
  z-index: 100;

  max-height: 100vh;
}

.main-menu-shade {
  position: fixed;

  z-index: -1;

  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;

  transition: 0.2s ease-in;

  opacity: 0;

  background: rgba(30, 30, 30, 0.4);
}

.main-menu-overlay.active .main-menu-shade {
  z-index: 2;

  opacity: 1;
}

.main-menu {
  position: relative;
  z-index: 2;

  overflow: auto;

  box-sizing: border-box;

  min-width: 320px;
  max-width: 500px;
  height: 100%;
  min-height: 100%;

  transition: 0.25s ease-in-out;

  transform: translateX(-100%);

  background: #fff;
}

.main-menu-overlay.active .main-menu {
  transform: translateX(0);
}

.main-menu-wrapper {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.main-menu-item {
  background: #fff;
}

.main-menu-item a {
  display: block;

  padding: 30px;

  text-decoration: none;

  color: #1e1e1e;
  border-bottom: 1px solid #e1e1e1;

  font-family: 'PF Agora Sans Pro';
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
}

.main-menu-item a.active {
  color: #bbb;
}

.main-menu-item_round {
  display: inline-block;

  width: 25px;
  height: 25px;
  margin-left: 5px;

  text-align: center;
  vertical-align: middle;

  color: #fff;
  border-radius: 50%;
  background-color: #f04e23;

  font-family: 'PF Agora Sans Pro';
  font-size: 15px;
  font-weight: 700;
  line-height: 26px;
}

.main-menu-bottom {
  display: none;
  justify-content: space-between;

  padding: 30px;

  background: #fff;
}

.main-menu-item-inner {
  align-items: center;

  text-decoration: none;
  text-transform: uppercase;

  color: #8a8a8f;

  font-family: 'PF Agora Sans Pro';
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
}

.main-menu-item-inner .icon {
  height: 30px;
  margin-right: 20px;

  vertical-align: middle;

  color: #00aee6;
}

.main-menu-item-inner_text {
  display: inline-block;

  vertical-align: middle;
}

.main-menu-item-inner .icon svg {
  width: 30px;
  height: 30px;
}

@media screen and (max-width: 1279px) {
  .main-menu {
    position: relative;

    width: 100%;
    max-width: 100%;

    transform: translate(0, -100vh);
  }

  .main-menu-overlay.active .main-menu {
    transform: translateY(0);
  }

  .main-menu-overlay--static {
    position: static;

    overflow: visible;

    height: auto;
    max-height: 2000px;
    margin-bottom: 40px;
  }

  .main-menu-overlay--static .main-menu-shade {
    display: none;
  }

  .main-menu-overlay--static .main-menu {
    transform: translate(0, 0) !important;
  }

  .main-menu-bottom {
    display: flex;
  }

  .main-menu-item {
    padding-right: 20px;
    padding-left: 20px;
  }

  .main-menu-item a {
    padding-right: 10px;
    padding-left: 10px;

    font-size: 35px;
    line-height: 35px;
  }
}

@media screen and (max-width: 767px) {
  .main-menu-item a {
    padding: 20px 0;

    font-size: 15px;
    line-height: 15px;
  }

  .main-menu-item_round {
    width: 19px;
    height: 19px;

    letter-spacing: -0.5px;

    font-size: 12px;
    line-height: 20px;
  }

  .main-menu-item-inner {
    width: 33.3%;
  }

  .main-menu-item-inner .icon {
    display: block;

    height: 25px;
    margin: 0;
    margin-bottom: 8px;
  }

  .main-menu-item-inner .icon svg {
    height: 25px;
  }

  .main-menu-item-inner_text {
    display: block;

    letter-spacing: 0.5px;

    font-size: 12px;
    line-height: 14px;
  }

  .main-menu-bottom {
    padding: 20px;
  }

  .main-menu-item-message svg {
    width: 30px;
    height: 30px;
  }
}
