.media-wrapper {
  margin-left: -17px;

  font-size: 0;
}

.media-item {
  display: inline-block;

  width: 170px;
  margin-bottom: 17px;
  margin-left: 17px;

  vertical-align: top;
}

.media-item img {
  display: block;

  width: 100%;
}
